<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Binaries" version="3.2.0" targetFramework="net40" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net40" />
  <package id="NGettext" version="0.2.2.1" targetFramework="net40" />
  <package id="SharpNav.MonoGame" version="0.9.2" targetFramework="net40" />
</packages>